<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkits</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body style="margin: 0;">
    <div class="header">
        <h2 class="heading">Checkits</h2>
        <div class="dropdown">
            <button class="dropbtn">Other Projects</button>
            <div class="dropdown-content">
              <a href="https://gg-nayyar.github.io/valoinfo.github.io/" target="_blank">Valorant Site</a>
              <a href="https://gg-nayyar.github.io/construx.github.io/" target="_blank">Construx Site</a>
              <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Netflix Clone</a>
            </div>
        </div>
        <div style="color: #4C3D3D; cursor: pointer; margin-right: 10px;"><a>About</a></div>
        <div style="color: #4C3D3D; cursor: pointer; margin-right: 10px;"><a >Login/Sign-Up</a></div>
    </div>
  
    
